body{
  background-image: url("background.jpg");
}

.container  {
  padding: 100px!important;
  border-radius: 15px;
}

p {
  font-size: 20px;
  font-weight: bold;
}

.choices  {
  margin-top: 10px;
  border: 2px black solid;
}

#mainQuiz {
  background-image: linear-gradient(#F5DF9F, #A2724A);
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  padding: 300px;
  text-align: center;
}

#finishButton {
  margin-top: 10px;
}

#timer  {
  margin-bottom: 25px;
}